<nav id="navbar" class="navbar navbar-expand-md container-fluid fixed-top" data-bs-theme="light">
	<div class="col-6 col-md-5 ps-2">
		<li class="nav-item">
			<a href="{% url 'shop' %}" class="nav-link main-logo-link">
				<h2 class="logo-font display-6 text-black my-0">Simply<strong> Kettlebells</strong></h2>
			</a>
		</li>
	</div>
	<div class="col-1 col-md-3">

		<button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav dropdown-menu border-0 ms-auto">

				<li class="nav-item">
					<a class="nav-link" href="#">Forum</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About</a>
				</li>
			</ul>
		</div>

	</div>
	<div class="col-5 col-md-4 justify-content-evenly my-auto ps-1">
		{% if request.user.is_authenticated %}
		<li class="list-inline-item dropdown">
			<a class="text-black nav-link" href="#" id="user-options" data-bs-toggle="dropdown" aria-expanded="false"
				role="button">
				<div class="text-center">
					<div><i class="fas fa-user fa-md"></i></div>
					<p class="my-0">My Account</p>
				</div>
			</a>
			<ul class="dropdown-menu border-0" aria-labelledby="user-options">
				<li><a href="{% url 'profiles:profile' %}" class="dropdown-item nav-link">My Profile</a></li>
				<li><a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
			</ul>
		</li>
		{% else %}
		<button class="btn-secondary" href="{% url 'account_signup' %}" class="nav-link">Register</button>
		<button class="btn-secondary" href="{% url 'account_login' %}" class="nav-link">Login</button>
		{% endif %}

		<li class="list-inline-item">
			<button id="open-basket" class="btn btn-link p-0 nav-link" type="button" data-bs-toggle="modal"
				data-bs-target="#basketModal" aria-label="Open basket">
				<div class="text-center">
					<div><i class="fas fa-shopping-bag fa-md"></i><span id="basket-count"
							class="badge bg-secondary rounded-pill"
							style="position:relative;top:-8px;left:6px;">0</span></div>
					<p class="my-0">
						{% if grand_total %}
						£{{ grand_total|floatformat:2 }}
						{% else %}
						£0.00
						{% endif %}
					</p>
				</div>
			</button>
		</li>
	</div>
</nav>