<nav id="navbar" class="navbar navbar-expand-md container-fluid fixed-top" data-bs-theme="light">
	<div class="col-6 col-md-5 ps-2">
		<li class="nav-item">
			<a href="{% url 'shop' %}" class="nav-link main-logo-link">
				<h2 class="logo-font display-6 text-black my-0">Simply<strong> Kettlebells</strong></h2>
			</a>
		</li>
	</div>
	<div class="col-2">
		<a class="nav-link" href="{% url 'about:about' %}">About</a>
	</div>
	<div class="col-4 my-auto ps-1 d-flex align-items-center">
		<div class="auth-controls d-flex align-items-center">
			{% if request.user.is_authenticated %}
			<li class="list-inline-item dropdown me-2">
				<a class="text-black nav-link" href="#" id="user-options" data-bs-toggle="dropdown"
					aria-expanded="false" role="button">
					<div class="text-center">
						<div><i class="fas fa-user fa-md"></i></div>
						<p class="my-0">My Account</p>
					</div>
				</a>
				<ul class="dropdown-menu border-0" aria-labelledby="user-options">
					<li><a href="{% url 'profiles:profile' %}" class="dropdown-item nav-link">My Profile</a></li>
					<li><a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
				</ul>
			</li>
			{% else %}
			<!-- Hide Register on small and medium screens; show on large+ -->
			<a class="btn btn-secondary me-2 nav-link d-none d-lg-inline" href="{% url 'account_signup' %}">Register</a>
			<a class="btn btn-secondary nav-link" href="{% url 'account_login' %}">Login</a>
			{% endif %}
		</div>

		<div class="ms-auto me-4">
			<button id="open-basket" class="btn btn-link p-0 nav-link" type="button" data-bs-toggle="modal"
				data-bs-target="#basketModal" aria-label="Open basket">
				<div class="text-center">
					<div><i class="fas fa-shopping-bag fa-md"></i><span id="basket-count"
							class="badge bg-secondary rounded-pill"
							style="position:relative;top:-8px;left:6px;">0</span></div>
					<p class="my-0">
						{% if grand_total %}
						£{{ grand_total|floatformat:2 }}
						{% else %}
						£0.00
						{% endif %}
					</p>
				</div>
			</button>
		</div>
	</div>
</nav>